@import './variables';


@mixin active-icon($index) {
  @include icon;

  background-image: $talentImages;
  background-position: (($index * $talentActiveImageXOffset) + $iconWidth) 0;
}


@mixin inactive-icon($index) {
  @include icon;

  background-image: $talentImages;
  background-position: (($index * $talentActiveImageXOffset) + $iconWidth) $talentActiveImageYOffset;
}


@mixin icon {
  height: $iconHeight;
  width: $iconWidth;
}


@mixin column-container {
  margin: 5px auto;

  justify-content: flex-start;
  align-items: center;

  flex-direction: column;

  @media (max-width: $baseScreenSize) {
    margin:5px 5px;
  }
}


@mixin row-container {
  margin: 5px auto;

  justify-content: flex-start;
  align-items: center;

  flex-direction: row;

  @media (max-width: $baseScreenSize) {
    margin:5px 5px;
  }
}