div > * {
    display: flex;
  }
  
  ol, ul, li {
    list-style: none;
    padding-inline-start: 0;
  }
  
  .container {
    @include column-container;
  }
  
  .heading {
    word-wrap: normal;
    font-weight: unset;
    text-align: center;
    font-size: $titleSize;
    color: $primaryTextColor;
  
    @media (max-width: $mediumScreenSize) {
      font-size: $titleMobileSize;
    }
  }
  
  .secondary-heading {
    @extend .heading;
  
    color: $secondaryTextColor;
  }
  
  .subheading {
    @extend .heading;
  
    font-size: $subHeadingSize;
    color: $primaryTextColor;
  
    text-transform:
    
    uppercase;
  }

  .clickable {
    cursor: pointer;
  }